<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="navbar sticky-top navbar-light bg-light">
        <div class="container-fluid col-md-auto">
          <form class="d-flex justify-content-center">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </div>
      <br>
      <div class="bg-light">
        <br>
        <h5><b>Trends for you</b></h5>
        <!-- 
        <nav class="d-grid gap-2 col-8">
          <div class="card-body">
            <small class="text-muted">Kai Havertz ~ Trending</small>
            <p class="card-title"><b>Havertz</b></p>
            <p class="card-text text-muted">22.5k tweets</p>
          </div>
          <a routerLink="">
            <div class="card-body">
              <small class="text-muted">Kai Havertz ~ Trending</small>
              <p class="card-title"><b>Havertz</b></p>
              <p class="card-text text-muted">22.5k tweets</p>
            </div>
          </a>
        </nav> -->

        <div class="card-body">
          <small class="text-muted">Kai Havertz ~ Trending</small>
          <p class="card-title"><b>Havertz</b></p>
          <p class="card-text text-muted">22.5k tweets</p>
        </div>
        <div class="card-body">
          <small class="text-muted">Trending in Kenya</small>
          <p class="card-title"><b>Hazard</b></p>
          <p class="card-text text-muted">22.5k tweets</p>
        </div>
        <div class="card-body">
          <small class="text-muted">#CHESOU</small>
          <p class="card-title"><b>ChelseaSouthampton</b></p>
          <p class="card-text text-muted">1.5k tweets</p>
        </div>
        <div class="card-body">
          <small class="text-muted">Elon Musk ~ World</small>
          <p class="card-title"><b>Elon </b></p>
        </div>
        <div class="card-body">
          <small class="text-muted">Sports ~ Trending</small>
          <p class="card-title"><b>Thomas Tuchel</b></p>
          <p class="card-text text-muted">22.5k tweets</p>
        </div>
        <div class="card-body">
          <small class="text-muted">Lorem Ipsum ~ Trending</small>
          <p class="card-title"><b>Lorem Ipsum</b></p>
          <p class="card-text text-muted">212.5k tweets</p>
        </div>
        <div class="card-body">
          <small class="text-muted">Kai Havertz ~ Trending</small>
          <p class="card-title"><b>Havertz</b></p>
          <p class="card-text text-muted">22.5k tweets</p>
        </div>
      </div>
    </div>
  </div>
</div>
