.userName{
    font-size: 1em;
    font-weight: bold;
}

ul.list-group:after{
    clear: both;
    display: block;
    content: "";
}

.list-group-item{
    float: left;
    border: 0 !important;
    margin: 0px;
    padding: 10px 30px;
}

a{
    display: block;
    padding: 5px;
}